<!-- _includes/footer.html -->
 <style>

/* Footer Styles */
#main-footer {
    background-color: var(--preset-verydark);
    color: var(--preset-light);
    padding: 20px;
    text-align: left;
    font-size: 14px;
}

#main-footer p {
    color: var(--preset-light);
}

div.footer-widgets {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: var(--preset-light);
    flex-wrap: wrap;
}

div.footer-widgets .footer-widget {
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    display: block;
    min-width: 200px;
    text-align: center;
    margin: auto;
}

p.menu-item {
    margin: .5em;
}

.menu-item a {
    color: var(--preset-light);
    text-decoration: underline;
}
 </style>
<footer id="main-footer">
    <div class="container">
        <div class="footer-widgets column-wide">
            <div class="footer-widget">
                <div class="fwidget et_pb_widget widget_block widget_text">
                    <p>Copyright <span id="currentYear"></span><br><strong>AiryChat LLC</strong></p>
                    <script>
                        document.getElementById("currentYear").innerHTML = new Date().getFullYear();
                    </script>
                </div>
            </div>
            <div class="footer-widget">
                <div id="nav_menu-3" class="fwidget et_pb_widget widget_nav_menu">
                    
                            <p class="menu-item"><a href="/about">About</a></p>
                            <p class="menu-item"><a href="/contact">Contact Us</a></p>
                            <p class="menu-item"><a href="/investor-relations">Investor Relations</a></li>
                            <p class="menu-item"><a href="/business">AI for Business</a></p>
                            <p class="menu-item"><a href="/privacy">Privacy Policy</a></p>
                            <p class="menu-item"><a href="/terms">Terms of Service</a></p>

                </div>
            </div>
            <div class="footer-widget">
                <div id="block-9" class="fwidget et_pb_widget widget_block widget_text">
                    <p><span>Support</span><span>@AiryChat.com</span></p>
                </div>
            </div>
        </div>
    </div>
</footer>