<!-- _includes/nav.html -->
<header id="main-header" data-height-onload="84" data-height-loaded="true" data-fixed-height-onload="84">
  <nav class="container clearfix">
    <div class="logo_container">
      <a href="{{ site.baseurl }}/index" title="AiryChat" rel="home" id="logo">
        <img src="{{ site.baseurl }}/assets/images/Logo_Pill.webp" width="1212" height="350" alt="AiryChat" id="logo" data-height-percentage="70" data-actual-width="1212" data-actual-height="351.483">
      </a>
    </div>
    <div class="menu-item-container">
        <a href="{{ site.baseurl }}/business" title="Business Services" rel="business" class="nav-link">AI for Business</a>
    </div>
  </nav> <!-- .container -->
</header>